<button type="submit" class="button button--accent button--thick button--long">
  GET STARTED
</button>
<button type="submit" class="button button--primary button--thin button--long">
  BUY NOW
</button>
<button
  type="submit"
  class="button button--secondary button--thick button--medium"
>
  GET STARTED
</button>
<button type="submit" class="button button--accent button--thick button--short">
  <span class="search-button-inner-wrapper">
    <svg class="icon search-button-icon">
      <use xlink:href="/icons/sprite.svg#search"></use>
    </svg>
    SEARCH
  </span>
</button>
