<div class="cards-wrapper">
  <span class="card card--secondary">
    <header class="card__header">
      <h3 class="card__heading">Entry</h3>
      <div class="card__billing-wrapper">
        <span class="card__price">$14</span>
        <span class="card__billing-cycle">/month</span>
        <span class="badge badge--secondary badge--small">10% off</span>
      </div>
      <span class="card__description">Easy start on the cloud</span>
    </header>
    <main class="card__body">
      <ul>
        <ul class="list list__vertical">
          <li class="list__vertical__item">Unlimited Websites</li>
          <li class="list__vertical__item">Unlimited Bandwidth</li>
          <li class="list__vertical__item">100 GB SSD Storage</li>
          <li class="list__vertical__item">3 GB RAM</li>
        </ul>
      </ul>
      <button
        type="submit"
        class="button button--primary button--thick button--long"
      >
        BUY NOW
      </button>
    </main>
  </span>
  <span class="card card--primary">
    <header class="card__header">
      <h3 class="card__heading">Business</h3>
      <div class="card__billing-wrapper">
        <span class="card__price">$24</span>
        <span class="card__billing-cycle">/month</span>
        <span class="badge badge--primary badge--small">20% off</span>
      </div>
      <span class="card__description">Optimal Cloud Exerience</span>
    </header>
    <main class="card__body">
      <ul>
        <ul class="list list__vertical">
          <li class="list__vertical__item">Unlimited Websites</li>
          <li class="list__vertical__item">Unlimited Bandwidth</li>
          <li class="list__vertical__item">100 GB SSD Storage</li>
          <li class="list__vertical__item">3 GB RAM</li>
          <li class="list__vertical__item">2 CPU Cores</li>
        </ul>
      </ul>
      <button
        type="submit"
        class="button button--primary button--thick button--long"
      >
        BUY NOW
      </button>
    </main>
  </span>
  <span class="card card--secondary">
    <header class="card__header">
      <h3 class="card__heading">Business Plus</h3>
      <div class="card__billing-wrapper">
        <span class="card__price">$54</span>
        <span class="card__billing-cycle">/month</span>
        <span class="badge badge--secondary badge--small">10% off</span>
      </div>
      <span class="card__description">Easy start on the cloud</span>
    </header>
    <main class="card__body">
      <ul>
        <ul class="list list__vertical">
          <li class="list__vertical__item">Unlimited Websites</li>
          <li class="list__vertical__item">Unlimited Bandwidth</li>
          <li class="list__vertical__item">100 GB SSD Storage</li>
          <li class="list__vertical__item">3 GB RAM</li>
          <li class="list__vertical__item">2 CPU Cores</li>
        </ul>
      </ul>
      <button
        type="submit"
        class="button button--primary button--thick button--long"
      >
        BUY NOW
      </button>
    </main>
  </span>
</div>
